.container {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #ccc;
}
.container img {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}
.localeSelect {
  margin: 2px;
  height: 30px;
  font-size: 13px;
  width: 50px;
  background: transparent;
  border: 0px;
}
